<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"><![CDATA[jdbc:mysql://localhost:3306/mydb?useSSL=false&useUnicode=yes&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&serverTimezone=UTC]]></property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="entity.AcademicDegreeEntity"/>
      <mapping class="entity.AcademicTitleEntity"/>
      <mapping class="entity.ContractEntity"/>
      <mapping class="entity.LogbookEntity"/>
      <mapping class="entity.RolesEntity"/>
      <mapping class="entity.RolesHasUsers"/>
      <mapping class="entity.TeacherEntity"/>
    <mapping class="entity.UsersEntity"/>
    <mapping class="entity.DepartmentEntity"/>
    <mapping class="entity.FacultyEntity"/>
    <mapping class="entity.MonthsEntity"/>
    <mapping class="entity.PlanEntity"/>
    <mapping class="entity.SemestrEntity"/>
    <mapping class="entity.SubjectEntity"/>
    <mapping class="entity.TypeOfClassEntity"/>
    <mapping class="entity.MonthsEntity"/>
      <mapping class="entity.SemestrEntity"/>
    <mapping class="entity.MonthsEntity"/>
    <mapping class="entity.SemestrEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
