<div class="row">
  <div class="col-lg-3">
  </div>
  <!-- /.col-lg-3 -->


  <div class="col-lg-9">


    <table class="table">
      <thead class="bg-green">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Дата</th>
        <th scope="col">Тип занятия</th>
        <th scope="col">Часы</th>
        <th scope="col">Предмет</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books">
        <th scope="row">{{book.id}}</th>
        <td>{{book.date}}</td>
        <td>{{book.idType}}</td>
        <td>{{book.hours}}</td>
        <td>{{book.idSubj}}</td>
        <td><span>{{ typeOfClassSearch(book.idType) }}</span>{{type.name}}</td>
        <td><a class="btn" role="button">Удалить</a></td>
      </tr>

      </tbody>
    </table>
      <div *ngIf="books?.length == 0" class="col-md-12 alert alert-warning mt-3">
        No books found
      </div>
    </div>


  </div>
  <!-- /.col-lg-9 -->


<!-- /.row -->

