    <div class="list-group">
      <a routerLink="/users" class="list-group-item"
         routerLinkActive="bg-green text-white font-weight-bold">
        <span class="glyphicon glyphicon-user"></span> Пользователи</a>
      <a routerLink="/book/change" class="list-group-item"
         routerLinkActive="bg-green text-white font-weight-bold">
        <span class="glyphicon glyphicon-th-list"></span>Материалы</a>
      <a routerLink="/department/change" class="list-group-item"
         routerLinkActive="bg-green text-white font-weight-bold">
        <span class="glyphicon glyphicon-th-list"></span>Кафедры</a>
      <a routerLink="/faculty/change" class="list-group-item"
         routerLinkActive="bg-green text-white font-weight-bold">
        <span class="glyphicon glyphicon-th-list"></span>Факультеты</a>
      <a routerLink="/category/change" class="list-group-item"
         routerLinkActive="bg-green text-white font-weight-bold">
        <span class="glyphicon glyphicon-th-list"></span>Предметы</a>
    </div>

  <!-- /.col-lg-3 -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>



